#!/bin/sh

printf "\nWelcome to KOSMOS, the AI for Oncology compute cluster\n"
printf "\n"
printf "*********************************************************************************\n"
printf "*  - Please use /processing/<username> as scratch space for your jobs.          *\n"
printf "*    This folder can also be accessed in the variable '\$SCRATCH'.               *\n"
printf "*  - You can use 'nvtop' to monitor GPU usage interactively.                    *\n"
printf "*  - Project related data should be stored in its own project folder. Request   *\n"
printf "*    a new folder by sending a message in #tech-kosmos-requests.                *\n"
printf "*                                                                               *\n"
printf "*  - More information is available on https://docs.aiforoncology.nl/kosmos      *\n"
printf "*********************************************************************************\n"
printf "\n"
